* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 335px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 1px;
}

.grid_item {
    width: 20px;
    height: 20px;
    background-color: red;
}